.add-log {
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .container:not(:last-of-type) {
    &.border-bottom {
      border-bottom: 1px solid #dbdbdb;
      padding-bottom: 20px;
      margin-bottom: 30px;
    }
  }
  .input-container {
    display: flex;
    padding-bottom: 10px;
  }
  label {
    font-weight: 200;
    font-size: 1.1rem;
    min-width: 100px;
    display: flex;
    align-items: center;
  }
  input,
  select {
    border: 1px solid #dbdbdb;
    height: 2rem;
    width: 100%;
  }
  select {
    width: 50px;
    border-left: none;
  }
  .buttons-container {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
  }
  button {
    flex: 0 1 49%;
    border: none;
    color: white;
    padding: 5px 0 3px;
    background: #48c774;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.95rem;
    cursor: pointer;
  }
  .error {
    padding-top: 10px;
  }
  .fa-times-circle {
    position: absolute;
    right: -10px;
    top: -40px;
    font-size: 1.5rem;
    color: #ff3860;
    background: white;
  }
}