form.login {
  margin: 0 auto;
  width: 60%;
  max-width: 500px; 
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 3px 3px 7px 1px #88888838;
  @media (max-width: 500px) {
    width: 95%;
  }

  button.primary {
    background-color: rgb(114, 177, 244);
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    &:hover {
      background-color: darken(rgb(114, 177, 244), 5%);
    }
  }

  button.secondary {
    background-color: #48c774;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    max-width: 250px;
    &:hover {
      background-color: darken(#48c774, 5%);
    }
  }

  .signup-button-container {
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid rgba(87, 87, 87, 0.29);
    display: flex;
    justify-content: center;
  }
}