
$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Playfair Display', serif;
$tertiaryFont: "Roboto", "Helvetica", "Arial", sans-serif;

$black: #363636;
$grey: #54575a;
$green: #91bd7b;
$offWhite: #f9f9f9;
$blue: #5ba5a4;
$red: #fa2532;

