form.signup {
  margin: 0 auto;
  width: 60%;
  max-width: 500px; 
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 3px 3px 7px 1px #88888838;
  @media (max-width: 500px) {
    width: 95%;
  }

  fieldset {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 5px 0;
    &:not(:first-of-type) {
      margin-top: 15px;
    }
  }

  input {
    padding: 14px 16px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
  }

  button {
    display: block;
    width: 100%;
    padding: 16px 0 12px;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(114, 177, 244);
    font-weight: bold;
    color: white;
    margin: 20px auto 40px;
  }

  .close-button {
    display: flex;
    justify-content: flex-end;
    a {
      color: black;
    }
    a:hover {
      color: #48c774;
    }
  }

}